@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .remove-arrow::-webkit-inner-spin-button,
  .remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .remove-arrow {
    -moz-appearance: textfield;
  }

  .input-search {
    @apply bg-backGround text-font text-4 font-medium rounded-lg px-8 py-4 focus:outline-none;
  }

  .input-creditCard {
    @apply w-full bg-backGround text-[1.8rem] text-font font-bold italic rounded-lg p-8 focus:outline outline-secondary1;
  }

  .input-loan {
    @apply text-2 text-secondary1 font-bold italic rounded-l-lg p-8 focus:outline-none
  }

  .label-loan {
    @apply flex items-center justify-between w-full p-6 text-primary1 text-1 font-bold italic rounded-lg
  }

  .btn {
    @apply text-whiteFixed font-bold flex justify-center gap-8 rounded-lg duration-200 disabled:opacity-40;
  }

  .btn-md {
    @apply w-[12rem] flex items-center py-2 text-1;
  }

  .btn-lg {
    @apply w-[39rem] flex items-center py-8 text-5;
  }

  .btn-primary {
    @apply bg-primary1 hover:bg-primary2;
  }

  .btn-secondary {
    @apply bg-secondary1 hover:bg-secondary2;
  }

  .btn-whiteFixed {
    @apply bg-whiteFixed text-primary1;
  }

  .status-tag {
    @apply w-[28rem] flex justify-center items-center gap-6 py-4 text-whiteFixed rounded-lg;
  }

  .status-waiting {
    @apply bg-secondary1;
  }

  .status-success {
    @apply bg-primary1;
  }

  .status-warning {
    @apply bg-[#bc3434];
  }
}
